

<div class="progress">

  <mat-progress-bar class="progress-bar" mode="determinate"
                    [value]="uploadProgress" *ngIf="uploadProgress">

  </mat-progress-bar>

  <mat-icon class="cancel-upload" (click)="cancelUpload()" 
            *ngIf="uploadProgress">delete_forever</mat-icon>

</div>
<form style="padding-left:250px;" (ngSubmit)="applynowForm.form.valid && upload()" #applynowForm="ngForm">
  <div class="row col-sm-12 g-10">
      <div class="col-8 ">
          <label for="name" style="padding-bottom:5px ;">Your Name</label>
          <input type="text" class="form-control" placeholder="Your Name"  [(ngModel)]="Alumni.name" #name="ngModel" name="firstname"[class.is-invalid]="applynowForm.submitted && name.invalid" required>
      </div>
      <br>
      <br>
      <div class="col-8 ">
          <label for="resume" style="padding:5px 5px ;">Upload Resume</label>
          <input type="file" class="file-input"
       accept="application/pdf"
       (change)="onFileSelected($event)" #fileUpload>      
      </div>
      <br>
      <p style="padding-left: 200px; padding-top: 10px;">OR</p>
      <div class="col-8 ">
          <label for="link" style="padding-bottom: 5px;">Portfolio Link</label>
          <input type="link" class="form-control" placeholder="Portfolio link" value="{{shortLink}}"  [(ngModel)]="Alumni.filelink" #filelink="ngModel" name="filelink">
      </div>
      <br>
      <div class="container" *ngIf="loading">
        <h3>Loading ...</h3>
    </div>
    <!-- <div class="alert alert-danger" *ngIf="applynowForm.submitted && isUploaderr">
      File uploading failed
  </div> -->
      <div class="col-8" style="padding-top:20px ;">
          <button class="btn btn-primary w-100" type="submit">Apply Now</button>
      </div>
  </div>
</form>
<div class="alert alert-success" *ngIf="isSuccessful">
 Your application submitted.You will be informed if shortlisted.
</div>    