<div class="container-xxl py-5">
    <div class="container">
        <h1 class="text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">DashBoard</h1>
        <div class="tab-class text-center wow fadeInUp" data-wow-delay="0.3s">          
            <div class="">
                <div id="tab-1" class="tab-pane fade show p-0 active">
                    <div class="card">               
                        <div class="card-body">
                            <h3 class="card-title blue">Hi {{User.firstname}},</h3>
                            <p class="card-text">Welcome to ICTAK job portal.You can post jobs and view recieved submissions</p>
                            <ul class="list-group">                              
                                <li class="list-group-item">Your Email : {{User.email}}</li>
                                <li class="list-group-item">Your phoneno : {{User.phoneno}}</li>
                                <li class="list-group-item">Registered as :{{User.userrole}} </li>
                              </ul>
                         
                        </div>
                      </div>
                      
                </div>
            </div>
        </div>
    </div>
</div>