<!-- Carousel Start -->
<div class="container-fluid p-0">
    <div class="owl-carousel header-carousel position-relative">
        <div class="owl-carousel-item position-relative">
            <img class="img-fluid" src="../../assets/img/carousel-1.jpg" alt="">
            <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(43, 57, 64, .5);">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-10 col-lg-8">
                            <h1 class="display-3 text-white animated slideInDown mb-4">Find The Perfect Job That You Deserved</h1>
                            <p class="fs-5 fw-medium text-white mb-4 pb-2">ICTAK Alumni Portal offers wide range of jobs for its alumni.</p>
                            <a routerLink="/joblisting" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Search A Job</a>
                            <a routerLink="/login" class="btn btn-secondary py-md-3 px-md-5 animated slideInRight">Login</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       </div>        
</div>

<!-- Carousel End -->


<!-- Category Start -->
<div class="container-xxl py-5">
    <div class="container">
        <h1 class="text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">Explore By Category</h1>
        <div class="row g-4">
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                <a class="cat-item rounded p-4"  routerLink="/joblisting/DataScience">
                    <i class="fa fa-3x fa-mail-bulk text-primary mb-4"></i>
                    <h4 class="mb-3">Data Science</h4>
                    <p class="mb-0"><a routerLink="/joblisting/DataScience">View Jobs</a></p>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                <a class="cat-item rounded p-4" routerLink="/joblisting/CyberSecurity">
                    <i class="fa fa-3x fa-headset text-primary mb-4"></i>
                    <h4 class="mb-3">Cyber Security</h4>
                    <p class="mb-0"><a routerLink="/joblisting/CyberSecurity">View Jobs</a></p>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                <a class="cat-item rounded p-4" routerLink="/joblisting/HumanResource">
                    <i class="fa fa-3x fa-user-tie text-primary mb-4"></i>
                    <h4 class="mb-3">Human Resource</h4>
                    <p class="mb-0"><a routerLink="/joblisting/HumanResource">View Jobs</a></p>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                <a class="cat-item rounded p-4" routerLink="/joblisting/ProjectManagement">
                    <i class="fa fa-3x fa-tasks text-primary mb-4"></i>
                    <h4 class="mb-3">Project Management</h4>
                    <p class="mb-0"><a routerLink="/joblisting/ProjectManagement">View Jobs</a></p>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                <a class="cat-item rounded p-4" routerLink="/joblisting/Fullstack">
                    <i class="fa fa-3x fa-chart-line text-primary mb-4"></i>
                    <h4 class="mb-3">Full stack Development</h4>
                    <p class="mb-0"><a routerLink="/joblisting/Fullstack">View Jobs</a></p>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                <a class="cat-item rounded p-4"  routerLink="/joblisting/SoftwareTesting">
                    <i class="fa fa-3x fa-hands-helping text-primary mb-4"></i>
                    <h4 class="mb-3">Software Testing</h4>
                    <p class="mb-0"><a routerLink="/joblisting/SoftwareTesting">View Jobs</a></p>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                <a class="cat-item rounded p-4" routerLink="/joblisting/RoboticsProcess">
                    <i class="fa fa-3x fa-book-reader text-primary mb-4"></i>
                    <h6 class="mb-3">Robotics Process Automation</h6>
                    <p class="mb-0"><a routerLink="/joblisting/RoboticsProcess">View Jobs</a></p>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                <a class="cat-item rounded p-4" routerLink="/joblisting/DesignCreative">
                    <i class="fa fa-3x fa-drafting-compass text-primary mb-4"></i>
                    <h4 class="mb-3">Design & Creative</h4>
                    <p class="mb-0"><a routerLink="/joblisting/DesignCreative">View Jobs</a></p>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- Category End -->


<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                <div class="row g-0 about-bg rounded overflow-hidden">
                    <div class="col-6 text-start">
                        <img class="img-fluid w-100" src="../../assets/img/about-1.jpg">
                    </div>
                    <div class="col-6 text-start">
                        <img class="img-fluid" src="../../assets/img/about-2.jpg" style="width: 85%; margin-top: 15%;">
                    </div>
                    <div class="col-6 text-end">
                        <img class="img-fluid" src="../../assets/img/about-3.jpg" style="width: 85%;">
                    </div>
                    <div class="col-6 text-end">
                        <img class="img-fluid w-100" src="../../assets/img/about-4.jpg">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <h1 class="mb-4">We Help To Get The Best Job And Find A Talent</h1>
                <p class="mb-4">ICTAK Alumni Portal where your job search ends..</p>
                <p><i class="fa fa-check text-primary me-3"></i>Find a career that best suits you.</p>
                <p><i class="fa fa-check text-primary me-3"></i>View and respond to best jobs</p>
                <p><i class="fa fa-check text-primary me-3"></i>Employers can search through pool of talents</p>
                <a class="btn btn-primary py-3 px-5 mt-3" href="">Read More</a>
            </div>
        </div>
    </div>
</div>
<!-- About End -->


<!-- Jobs Start -->
<div class="container-xxl py-5">
    <div class="container">
        <h1 class="text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">Latest Jobs</h1>
        <div class="tab-class text-center wow fadeInUp" data-wow-delay="0.3s">           
            <div class="tab-content">
                <div id="tab-1" class="tab-pane fade show p-0 active">
                    <div class="job-item p-4 mb-4" *ngFor="let i of postajob">
                        <div class="row g-4">
                            <div class="col-sm-12 col-md-8 d-flex align-items-center">
                                <i><b>{{i.companyName}}</b></i><!-- <img class="flex-shrink-0 img-fluid border rounded" src="../../assets/img/com-logo-1.jpg" alt="" style="width: 80px; height: 80px;"> -->
                                <div class="text-start ps-4">
                                    <h2 class="mb-3">{{i.jobRole}}</h2>
                                    <span class="text-truncate me-3"><i class="fa fa-map-marker-alt text-primary me-2"></i>{{i.location}}</span>
                                    <span class="text-truncate me-3"><i class="far fa-clock text-primary me-2"></i>{{i.jobType}}</span>
                                    <span class="text-truncate me-3"><i class="fa fa-briefcase text-primary me-2"></i>{{i.experience}} Years</span>
                                    <span class="text-truncate me-3"><i class="fa fa-trophy text-primary me-2"></i>{{i.qualification}}</span>
                                    <span class="text-truncate me-3"><i class="fa fa-lightbulb text-primary me-2"></i>{{i.skills}}</span>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
                                <div class="d-flex mb-3">
                                    <a class="btn btn-light btn-square me-3" href=""></a>
                                    <a class="btn btn-primary" (click)="viewDetail(i)">View Details</a>
                                </div>
                                <span class="text-truncate"><i class="far fa-calendar-alt text-primary me-2"></i>Last Date:{{i.lastDate}}</span>
                            </div>
                        </div>
                    </div>
                    <a class="btn btn-primary py-3 px-5" routerLink="/joblisting">Browse More Jobs</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Jobs End -->



